# Node & Build
node_modules/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store

# Tests & Coverage
coverage/
.nyc_output/

# IDEs & Editors
.idea/
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Env files
.env*
.env.json
.emv
env/

# Temporary files
.temp/
.tmp/

# Runtime Data
pids/
*.pid
*.seed
*.pid.lock

# Diagnostic Reports
report.*.json

# PEM keys
*.pem
